.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(16.66666667% + 50px);
  height: 100vh;
  padding-top: 139px;
  padding-bottom: 1rem;
  border-right: 1px solid #3a3f50 !important;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar-wrapper {
  padding: 1rem;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-checkboxes {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.choose-range-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

@media (max-width: 1300px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 760px) {
  .sidebar {
    width: 0%;
    overflow: hidden;
  }
}
