.cards-header {
  padding: 1rem 0;
  margin: 0 2rem;
  margin-bottom: 1.6rem;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-bottom: 1px solid #dee2e6;
}

.price-select {
  border-radius: 0.25rem !important;
  padding: 0.6rem 0.5rem !important;
  background-color: transparent;
  color: white;
  background-color: #242735 !important;
  border: 1px solid #3a3f50 !important;
  font-size: 1rem;
}

option {
  display: block;
  padding: 20px 0 !important;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1rem 0;
}

/* card */

/* .card-binamon * {
  box-sizing: content-box;
} */
