.range-slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.range-tooltip {
  position: absolute;
  top: 150%;
  background-color: #03a9f4;
  padding: 4px 2px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  min-width: 20px;
  text-align: center;
}

.range-tooltip::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: #03a9f4;
  transform: translateX(-50%) rotate(45deg) !important;
  z-index: 10000000;
}
